div.Lobby-wrapper {
    margin: auto;
    border: 2px black solid;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
}

div.Lobby-wrapper button {
    margin-top: 1em;
}

div.Lobby-subWrapper {
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.Lobby-subWrapper button {
    margin-top: 0;
}