.UserList-wrapper {
    margin-top: 1em;
    flex: 1;
}
ul.UserList {
    list-style: none;
    display: flex;
    flex-direction: column;
}

ul.UserList li {
    margin-top: .5em;
    padding: .5em;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


ul.UserList li.userSelf {
    background-color: #ddd;
    border-radius: 3px;
}